@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: sans-serif;
    font-weight: 400;
    color: #000;
}

/* heading and logo*/
h1, h2 {
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000;
}

#logo {
    float: left;
    font-size: 250%;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu ul {
    float: right;
}
#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 80px;
}

#menu a:hover {
    border-bottom: 2px solid #3648e9;
}

.active {
    border-bottom: 2px solid #3648e9;
}