@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Open Sans;
    font-weight: 400;
    color: #000;
    background-color: rgba(46, 198, 127, 0.93);
}

/* heading and logo*/
h1, h2 {
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000;
    font-size: 180%;
}

#logo {
    float: left;
    font-size: 250%;
    font-family: inherit;
    margin-left: 2%;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu ul {
    float: right;
}
#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 80px;
}

#menu a:hover {
    border-bottom: 2px solid #3648e9;
}

.active {
    border-bottom: 2px solid #3648e9;
}

#hero-img {
    height: 600px;
    width: 100%;
    background: url("../images/heroimg.jpg") no-repeat center center;
    overflow: hidden;
}
/* cover text*/
#cover-text {
    font-size: 110%;
    letter-spacing: 4px;

    top: 200px;
    left: 80px;
    position: absolute;
    border-radius: 25px;

    width: 300px;
    height: 200px;
    padding: 2%;

    background-color: rgba(46, 221, 139, 0.5);
    color: #000;
}

/*About*/
#about {
    width: 100%;
    height: 400px;
    
}

.about-div {
    background: url("../images/about-section\ \(2\).jpg") no-repeat center center;
    width: 100%;
    height: 400px;
}
/*
.about-div p, {
    width: 50%;
    color: #fff;
    letter-spacing: 4px;
    font-size: 120%;
    margin-left: 4%;
}
*/


/* Apps */
#apps {
    width: 100%;
}

.apps-header {
    width: 100%;
    text-align: center;
    margin: 2%;
    background-color: rgb(39, 145, 100);
    border-radius: 10px;
}

.apps-img-div {
    width: 50%;
    height: 300px;
    display: grid;
    float: left;
}

 .apps-description {
    width: 50%;
    height: 400px;
    display: flex;
    margin-top: 2%;
 }

 .apps-img {
    margin: 4% 8%;
 }

 #apps p {
    width: 350px;
    height: 300px;
    padding: 4%;
    background-color: rgb(39, 145, 100);
    color: #000;
    letter-spacing: 2px;
    font-family: inherit;
    font-size: 100%;
 }

 .apps-img, #apps p {
    border-radius: 10px;
 }


 /*Feedback section*/
 #feedback {
    height: 500px;
    border-radius: 10px;
    background-color: rgb(39, 145, 100);
 }
 
 #feedback-header {
    width: 100%;
    font-size: 120%;
    padding: 2%;
 }

 #feedback-header h3 {
    text-align: center;
 }

 .feedback-form {
    width: 60%;
    height: 350px;
    margin-left: 25%;
    align-items: center;
    display: grid;
    padding-top: 10px;
 }

 .feedback-form p {
    font-size: 120%;
 }

 .feedback-form input {
    font-size: 120%;
 }

 form .submit {
    width: 30%;
    align-items: center;
 }
 

 /* Footer */
.footer {
    height: 100px;
}
 .footer ul {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
 }

 .footer li {
    width: 30%;
    margin: 2%;
    display: grid;
    text-align: center;
    font-size: 150%;
 }

 .author {
    width: 100%;
    height: 40px;
    margin: 2%;
    text-align: center;
    font-size: 120%;
 }

 /*Medea queries*/
 @media screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        border: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    #logo {
        padding-left: 10%;
    }
  
    #hero-img {
        
    }
    #apps {

    }

    .apps-header {
        width: 100%;
        font-size: 90%;
        margin: 0;
    }

    .apps-img-div {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: center;
        margin-left: 10%;
    }

    .apps-description {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    #feedback {
        
    }

    #feedback-header {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        font-size: 100%;
    }

    .feedback-form {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin-left: 10%;
    }

    .footer ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10%;
    }

    .author {
        margin: 0;
        font-size: 100%;
        background-color: rgb(39, 145, 100);
    }
}
