@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Open Sans;
    font-weight: 400;
    color: #000;
    background-color: rgba(46, 198, 127, 0.93);
}

/* heading and logo*/
h1, h2 {
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000;
    font-size: 180%;
}

#logo {
    float: left;
    font-size: 250%;
    font-family: inherit;
    margin-left: 2%;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu ul {
    float: right;
}
#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 80px;
}

#menu a:hover {
    border-bottom: 2px solid #3648e9;
}

.active {
    border-bottom: 2px solid #3648e9;
}

#hero-img {
    height: 600px;
    width: 100%;
    background: url("../images/heroimg.jpg") no-repeat center center;
    overflow: hidden;
}
/* cover text*/
#cover-text {
    font-size: 110%;
    letter-spacing: 4px;

    top: 200px;
    left: 80px;
    position: absolute;
    border-radius: 25px;

    width: 300px;
    height: 200px;
    padding: 2%;

    background-color: rgba(46, 221, 139, 0.5);
    color: #000;
}

/* Apps */
#apps {
    width: 100%;
}

.apps-header {
    width: 100%;
    text-align: center;
    margin: 2%;
}

.apps-img-div {
    width: 50%;
    height: 300px;
    display: grid;
    float: left;
}

 .apps-description {
    width: 50%;
    height: 400px;
    display: flex;
    margin-top: 2%;
 }

 .apps-img {
    margin: 4% 8%;
 }

 #apps p {
    width: 350px;
    height: 300px;
    padding: 4%;
    background-color: rgb(39, 145, 100);
    color: #000;
    letter-spacing: 2px;
    font-family: inherit;
    font-size: 100%;
 }

 .apps-img, #apps p {
    border-radius: 10px;
 }

 /*Feedback section*/
 #feedback {
    border-radius: 10px;
    background-color: rgb(39, 145, 100);
 }
 
 #feedback-header {
    width: 100%;
    font-size: 120%;
    margin: 4%;
 }

 #feedback-header h3 {
    text-align: center;
 }

 .feedback-form {
    width: 50%;
    height: 350px;
    margin-left: 25%;

    display: grid;
    padding-top: 15px;
 }

 .feedback-form p {
    font-size: 120%;
 }

 .feedback-form input {
    font-size: 120%;
 

 /* Footer */

 .footer ul {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
 }

 .footer li {
    width: 30%;
    display: grid;
    text-align: center;
 }

 .author {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 120%;
 }